<!DOCTYPE html>
<html lang="<%= config.language %>">
    <!-- load common head -->
    <%- partial("common/head", {}, {cache: true}) %>

    <body>
    
    <%- partial("common/navbar2", {}, {cache: false}) %>
    <!-- load common navbar -->
    <!-- load index cards and side information -->
    <%- body %>
    
    </body>

</html>