<!DOCTYPE html>
<html lang="<%= config.language %>">
    <!-- load common head -->
    <%- partial("common/head") %>
    <body>
    <!-- load common navbar -->
    <!-- load index cards and side information -->
    <%- body %>
    </body>

</html>