<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
<%- is_home() ? 'homepage' : page.title -%>|<%- config.title -%>
</title>

<!-- Dev CSS file -->
<link href="https://cdn.jsdelivr.net/npm/daisyui@2.14.3/dist/full.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.tailwindcss.com"></script>


<!-- Use CSS file -->
<!-- loading…… -->


<link rel="stylesheet" href="<%- url_for('/blank-boilerplate.css') %>">


</head>