<div class="navbar bg-base-100">
    <div class="flex-1">
      <a class="btn btn-ghost normal-case text-xl" herf="/"><%- config.title %></a>
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal p-0">
        <% for (var link in theme.menu) { %>
            <% if (link) { %>
            <li><button class="p-2 bg-base-100"><a href="<%= theme.menu[link] %>"> <%= link %> </a></button></li>
            <% }%>
        <% }%>
        <li></li>
        <li><button class="p-2 bg-base-100">Theme:</button></li>
        <select data-choose-theme class="p-2 bg-base-100 border-2 select select-bordered">
            <option value="light">Default</option>
            <option value="dark">Dark</option>
            <option value="wireframe">wireframe</option>
          </select>
      </ul>
    </div>
  </div>